*{ box-sizing: border-box }
img {
   width: 100%;
   display: block;
}
body {
   margin: auto;
}
#app-container{
   .gitNav{
      margin-bottom: 0;
      background: #EEEEEE;
      position: fixed;
      top: 0;
      width: 100%;
      padding-top: 8px;
      padding-left: 10px;

      span{
         font-size: 25px;

      }

      .srchBar {

         margin-left: 10px;

      }
   }
   .pageContent {
      width: 70%;
      margin: auto;
      padding-top: 50px;

      .topTitle {
         margin-bottom: 30px;
      }

      .usrInfo{
         div {
            border-bottom: 1px solid #DDD
         }

      }
      .usrRepos {

         hr {
            width: 100%;
         }

         .repoStat{
            padding: 25px 0;
            text-align: right;

            * {
               text-align: right;

               display: inline-block;
               padding: 0 5px;
            }

         }

      }

   }

}
